nav {
  height: 60px;
  background-color: #ffffff;
  padding: 0;
}

nav .header-left {
  float: left;
  display: table-cell;
  padding: 10px 40px;
}

nav .header-right {
  padding-right: 40px;
}

nav .header-right ul {
  float: right;
}

nav .header-right ul li {
  float: left;
  height: 60px;
  text-align: center;
  padding: 0 15px;
  font-size: 16px;
}

nav .header-right ul li a {
  font-family: 'gothambookregular', 'VNF-Gotham', 'Kanit', 'thejung130regular', 'Sans Serif', 'arial', 'sans-serif';
  color: #97A5AF;
  line-height: 60px;
}

nav .header-right ul li a:hover {
  color: #158DB4;
}

nav .header-right ul li a.title-text-register {
  box-sizing: border-box;
  background-color: #158DB4;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
}

nav .header-right ul li a.title-text-register:hover {
  background-color: #13687F;
}

div.landing {
  background-image: url(../images/background.jpg);
  width: 100%;
  background-size: cover;
  min-height: 600px;
}

div.landing .word-wrap {
  width: 90%;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

div.landing .word-wrap .content-topic {
  padding-top: 35px;
  font-size: 55px;
}

div.landing .word-wrap .content-topic span.strong {
  font-weight: 700;
}

div.landing .word-wrap .content-subtopic div {
  font-size: 20px;
  font-weight: 100;
  padding-top: 30px;
}

div.landing .offer-box {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 50px auto 84px auto;
  padding: 40px 64px;
  border-radius: 5px;
  background: #F2F2F2;
  text-align: center;
  color: #1a3c47;
}

div.landing .offer-box .box-title {
  font-size: 22px;
}

div.landing .offer-box .box-subtitle {
  padding-top: 20px;
  font-size: 16px;
  color: #7f7f7f;
  margin-bottom: 25px;
}

div.landing .offer-box form {
  margin-bottom: 30px;
}

div.landing .offer-box form .get-email {
  box-sizing: border-box;
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

div.landing .offer-box form .get-email input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 6px 12px;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
}

div.landing .offer-box form button {
  height: 40px;
  width: 100%;
  text-align: top;
  color: #fff;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #1baaa6;
}

div.landing .offer-box form button div {
  font-size: 12px;
}

div.landing .offer-box div > span > a {
  color: #1E90B4;
  text-decoration: underline;
}

div.landing .offer-box div > span > a:hover {
  text-decoration: none;
}

div.landing .how-use {
  position: relative;
  margin: 0;
  padding: 50px 140px;
  min-height: 520px;
  box-sizing: border-box;
  background-color: #1E90B4;
}

div.landing .how-use .how-use-topic, div.landing .how-use ul.use-steps li span.how-use-subtopic {
  color: #ffffff;
  text-align: center;
  font-size: 22px;
}

div.landing .how-use ul.use-steps {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  padding: 30px 0;
}

div.landing .how-use ul.use-steps li {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  width: 20%;
  float: left;
  box-sizing: border-box;
}

div.landing .how-use ul.use-steps li.step img.step-image {
  width: 80%;
  box-sizing: border-box;
  padding: 40px 0 20px 0;
}

div.landing .how-use ul.use-steps li.step p.step-description {
  margin: 0;
  padding: 0 15px 15px 15px;
  font-size: 14px;
  font-weight: 100;
  line-height: 1.5rem;
}

div.landing .how-use ul.use-steps li.hbar {
  height: 300px;
  padding: 0 30px;
  top: 50%;
  transform: translateY(50%);
  text-align: center;
}

div.landing .how-use ul.use-steps li.hbar hr {
  border: dotted 1px;
}

div.landing .how-use ul.use-steps li span.list-number {
  box-sizing: border-box;
  background-color: #1BAAA6;
  text-align: center;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
}

div.landing .how-use ul.use-steps li span.how-use-subtopic {
  font-size: 16px;
}
